<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="events.css"/>
  </head>

  <body>
    <div id="events-grid">
      <div class="event-cell">
        <img src="<%=@images[0]%>"/>
        <h2><%=@titles[0]%></h2>
        <p><%=@descriptions[0]%></p>
      </div>
      <div class="event-cell">
        <img src="<%=@images[1]%>"/>
        <h2><%=@titles[1]%></h2>
        <p><%=@descriptions[1]%></p>
      </div>
      <div class="event-cell">
        <img src="<%=@images[2]%>"/>
        <h2><%=@titles[2]%></h2>
        <p><%=@descriptions[2]%></p>
      </div>
      <div class="event-cell">
        <img src="<%=@images[3]%>"/>
        <h2><%=@titles[3]%></h2>
        <p><%=@descriptions[3]%></p>
      </div>
      <div class="event-cell">
        <img src="<%=@images[4]%>"/>
        <h2><%=@titles[4]%></h2>
        <p><%=@descriptions[4]%></p>
      </div>
      <div class="event-cell">
        <img src="<%=@images[5]%>"/>
        <h2><%=@titles[5]%></h2>
        <p><%=@descriptions[5]%></p>
      </div>
    </div>
  </body>
</html>
